{% extends 'base.html.twig' %}

{% block title %}Redimension d'image{% endblock %}

{% block body %}

<h1>Redimensionner une image</h1>

<div class="container-center">
    
    {{ form_start(form) }}
    {{ form_label(form.image) }}
    <br >
    <br >
    {{ form_widget(form.image) }}
    <br >
    <br >
    <br >
    <br >
    {{ form_label(form.width) }}
    <br >
    <br >
    {{ form_widget(form.width) }}
    <br >
    <br >
    <br >
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
    
{% endblock %}
