{% extends 'base.html.twig' %}

{% block title %}Redimension d'image{% endblock %}
{% block metadescription %}
<meta name="description" content="Réduisez la taille de vos images en 2 cliques">
{% endblock %}

{% block body %}
<a href="{{ path('main') }}">
    <h1>H O M E</h1>
</a>

<div class="container-center">
    <div>
        {{ form_start(form) }}
        {{ form_label(form.image) }}
        <br />
        {{ form_errors(form.image) }}
        <br />
        {{ form_widget(form.image) }}
    </div>
    <div>
        {{ form_label(form.width) }} <span class="info">ⓘ</span>
        <br>
        <br>
        <p>
            La largeur doit être exprimée en pixels, de minimum <span>24</span> et de maximum <span>1920</span>.
        </p>
    </div>
    {{ form_widget(form.width) }}
    <div class="center">
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>

    {# MODALS #}
    <div class="modal modal-info">
        <p>
            Veillez à rentrer une largeur inférieure à celle d'origine, au risque de perdre en qualité
            <br />
            <br />
            <span class="close-btn">Ok merci</span>
        </p>
        <br />
    </div>
</div>

{# LOADER ANIMATION #}
<div class="loading-anim hidden"></div>

{% endblock %}